jobs:
  include:
    - stage: build application
      script:
        - mvn install
    - stage: static code analysis
      addons:
        sonarcloud:
          organization: drazenfh-github
          token: ${SONAR_TOKEN}
      script:
        - mvn org.jacoco:jacoco-maven-plugin:prepare-agent javadoc:javadoc verify sonar:sonar
        - cd ..
        - "git clone https://github.com/DrazenFH/SearchPic.git/searchPicDocs.git"
        - rm -rf docs/generated/jacoco-ut docs/generated/jacoco-it docs/generated/apidocs
        - cp -r application/target/site/jacoco-ut docs/generated/
        - cp -r application/target/site/jacoco-it docs/generated/
        - cp -r application/target/site/apidocs docs/generated/
        - cd docs/generated
        - git add --all
        - git commit -am "update documentation"
        - git push "https://${TRAVIS_TOKEN}@github.com/DrazenFH/SearchPic.git/docs.git" master
    - stage: deploy to staging
      script: skip
      deploy: &heroku
        provider: heroku
        app: fhv-application-staging
        api_key: $HEROKU_API_KEY
    - stage: automatic user acceptance and performance tests on staging
      script:
        - cd ..
        - "git clone https://github.com/DrazenFH/SearchPic.git/searchPicTests.git"
        - cd tests
        - mvn verify
        - cd ..
        - "git clone https://github.com/DrazenFH/SearchPic.git/searchPicDocs.git"
        - rm -rf docs/generated/cukedoctor docs/generated/walk_through.mp4
        - cp -r tests/target/cukedoctor docs/generated/
        - rm -rf docs/generated/jmeter
        - cp -r tests/target/jmeter/reports/performance* docs/generated/jmeter
        - cd docs/generated
        - ../../tests/scripts/get_testingbot_video.py
        - git add --all
        - git commit -am "update documentation"
        - git push "https://${TRAVIS_TOKEN}@github.com/DrazenFH/SearchPic.git/docs.git" master
    - stage: deploy to production
      script: skip
      deploy:
        <<: *heroku
        app: fhv-application
